       <!-- Modal Banner -->
       <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Banner</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- formulario de banner-->
                <form name="bannerForm"> 
                    <div class="mb-3">
                      <label for="bannerImg" class="form-label">Modificar imagen de banner</label>
                      <input class="form-control" type="file" id="bannerImg">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnLogin">Guardar</button>
            </div>
          </div>
        </div>
  </div>