      <!--Modales-->


        
               <!-- Modal Banner -->
          <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar Banner</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="bannerForm"> 
                            <!-- formulario de banner-->
                            <div class="mb-3">
                              <label for="bannerImg" class="form-label">Modificar imagen de banner</label>
                              <input class="form-control" type="file" id="bannerImg">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btnLogin">Guardar</button>
                    </div>
                  </div>
                </div>
          </div>
        
             <!-- Modal Perfil -->
             <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form name="perfilForm"> 
                          <!-- formulario de perfil-->
                          <div class="mb-3">
                            <label for="perfilImg" class="form-label">Modificar imagen de perfil</label>
                            <input class="form-control" type="file" id="perfilImg">
                          </div>
                          <div class="mb-3">
                            <label for="perfilNombre" class="form-label">Modificar Nombre</label>
                            <input type="text" class="form-control" id="perfilNombre" placeholder="Nombre nuevo">
                          </div>
                          <div class="mb-3">
                            <label for="perfilTitulo" class="form-label">Modificar Titulo</label>
                            <input type="text" class="form-control" id="perfilTitulo" placeholder="Título nuevo">
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btnLogin">Guardar</button>
                  </div>
                </div>
              </div>
        </div>
        
             <!-- Modal Sobre Mi -->
             <div class="modal fade" id="sobreMiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Texto Sobre Mi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form name="sobreMiFrom"> 
                          <!-- formulario de Sobre Mi-->
                          <div class="mb-3">
                            <label for="sobreMiTexto" class="form-label">Modificar Sobre Mi</label>
                            <textarea class="form-control" id="sobreMiTexto" rows="3"></textarea>
                        </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btnLogin">Guardar</button>
                  </div>
                </div>
              </div>
        </div>
        
        <!-- Modal Experiencia -->
        <div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form name="experienciaForm"> 
                      <!-- formulario de experiencia-->
                      <div class="mb-3">
                        <label for="experienciaImg" class="form-label">Modificar Logo de Empresa</label>
                        <input class="form-control" type="file" id="experienciaImg">
                      </div>
                      <div class="mb-3">
                        <label for="experienciaCargo" class="form-label">Modificar Cargo</label>
                        <input type="text" class="form-control" id="experienciaCargo" placeholder="Nombre nuevo">
                      </div>
                      <div class="mb-3">
                        <label for="experienciaPeriodoInicio" class="form-label">Modificar Periodo Inicio</label>
                        <input type="date" class="form-control" id="experienciaPeriodoInicio">
                      </div>
                      <div class="mb-3">
                        <label for="experienciaPeriodoFin" class="form-label">Modificar Periodo Fin</label>
                        <input type="date" class="form-control" id="experienciaPeriodoFin">
                      </div>
                      <div class="mb-3">
                          <label for="experienciaInfo" class="form-label">Modificar Información de Cargo</label>
                          <textarea class="form-control" id="experienciaInfo" rows="3"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btnLogin">Guardar</button>          
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal Educación -->
        <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Educación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form name="educacionForm"> 
                      <!-- formulario de educación-->
                      <div class="mb-3">
                        <label for="educacionImg" class="form-label">Modificar Logo de Instituto</label>
                        <input class="form-control" type="file" id="educacionImg">
                      </div>
                      <div class="mb-3">
                        <label for="educacionEstudio" class="form-label">Modificar Estudio</label>
                        <input type="text" class="form-control" id="educacionEstudio" placeholder="Nombre nuevo">
                      </div>
                      <div class="mb-3">
                        <label for="educacionPeriodoInicio" class="form-label">Modificar Periodo Inicio</label>
                        <input type="date" class="form-control" id="educacionPeriodoInicio">
                      </div>
                      <div class="mb-3">
                        <label for="educacionPeriodoFin" class="form-label">Modificar Periodo Fin</label>
                        <input type="date" class="form-control" id="educacionPeriodoFin">
                      </div>
                      <div class="mb-3">
                          <label for="educacionInfo" class="form-label">Modificar Información de Estudio Realizado</label>
                          <textarea class="form-control" id="educacionInfo" rows="3"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btnLogin">Guardar</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal Habilidades -->
        <div class="modal fade" id="habilidadesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Habilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form name="habilidadesForm"> 
                      <!-- formulario de habilidad-->
                      <div class="mb-3">
                        <label for="habilidadNombre" class="form-label">Modificar Halilidad</label>
                        <input type="text" class="form-control" id="habilidadNombre" placeholder="Nombre nuevo">
                      </div>
                        <label for="habilidadPorcentaje" class="form-label">Modificar Porcentaje de Manejo (Escala 0-100)</label>
                        <input type="number" min="0" max="100" id="habilidadPorcentaje">
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btnLogin">Guardar</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal Proyectos -->
        <div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form name="proyectosForm"> 
                      <!-- formulario de proyectos-->
                      <div class="mb-3">
                        <label for="proyectoImg" class="form-label">Modificar Logo de Proyecto</label>
                        <input class="form-control" type="file" id="proyectoImg">
                      </div>
                      <div class="mb-3">
                        <label for="proyectoNombre" class="form-label">Modificar Nombre de Proyecto</label>
                        <input type="text" class="form-control" id="proyectoNombre" placeholder="Nombre nuevo">
                      </div>
                      <div class="mb-3">
                        <label for="proyectoPeriodoInicio" class="form-label">Modificar Periodo Inicio</label>
                        <input type="date" class="form-control" id="proyectoPeriodoInicio">
                      </div>
                      <div class="mb-3">
                        <label for="proyectoPeriodoFin" class="form-label">Modificar Periodo Fin</label>
                        <input type="date" class="form-control" id="proyectoPeriodoFin">
                      </div>
                      <div class="mb-3">
                          <label for="proyectoInfo" class="form-label">Modificar Información de Proyecto Realizado</label>
                          <textarea class="form-control" id="proyectoInfo" rows="3"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btnLogin">Guardar</button>
              </div>
            </div>
          </div>
        </div>