  <!--dust particel-->
  <!-- <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div> -->
  <!--Dust particle end--->
  
  
  <div class="lamp__wrap">
    <div class="lamp">
      <div class="cable"></div>
      <div class="cover"></div>
      <div class="in-cover">
        <div class="bulb"></div>
      </div>
      <div class="light"></div>
    </div>
  </div>
  <!-- END Lamp -->
  <section class="error seccion rounded"  [ngClass]="{fondouser : isLogged}">
    <!-- Content -->
    <div class="error__content">
      <div class="error__message message">
        <h1 class="message__title">Página No Encontrada</h1>
        <p class="message__text">Lo sentimos, la página que buscaba no se encuentra aquí. El enlace que siguió puede estar roto o ya no existe. Vuelva a intentarlo o eche un vistazo a nuestra pagina de inicio.</p>
      </div>
      <div class="error__nav e-nav">
        <b><a routerLink="" class="e-nav__link"></a></b>
      </div>
    </div>
    <!-- END Content -->
  
  </section>