<nav class="navbar navbar-expand rounded seccion" [ngClass]="{fondouser : isLogged}">  
  <div class="container-fluid">  
    <!--logo argentina programa       -->
    <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank"> 
      <img src="assets/img/APLogo.png" alt="logo-AP" width="120em" height="auto">
    </a>
    <!--redes y login   -->
    <div>    
      <ul class="navbar-nav"> 
        <div *ngFor="let red of redes">      
          <li class="nav-item">
            <a class="nav-link text-white ico" [href]="red.url" target="_blank"><i [ngClass]="red.icono"></i></a>
          </li>        
        </div>
        <li>          
          <button type="submit" *ngIf="isLogged" class="btn btn-close-white" data-bs-toggle="modal" data-bs-target="#RedesModalAdd"><i class="fa-solid fa-plus"></i></button>
        </li>
      <app-login *ngIf="!isLogged"></app-login>
      <app-logout *ngIf="isLogged"></app-logout>      
    </ul>
    </div>
  </div>
</nav>
<app-modal-red-add></app-modal-red-add>

