/*navbar*/
.navbar{
    background-color: rgba(32, 107, 45, 0.795) ;
    height: 4em;
}

/*iconos de navbar */

.fa-facebook:hover{
    color: blue;
}
.fa-twitter:hover{
    color: lightblue;
}
.fa-instagram:hover{
    color: violet;
}
.fa-linkedin:hover{
    color: rgb(99, 154, 190);
}
.fa-github:hover{
    color: rgb(209, 164, 123);
}
.fa-user-slash:hover{
    color: rgb(247, 243, 48);
}