 <!-- Modal Proyectos -->
 <div class="modal fade" id="proyectosModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
        </div>
          <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="proyectosForm"> 
            <div class="modal-body">
                    <!-- formulario de educación-->
                    <div class="mb-3">
                      <label for="educacionImg" class="form-label">Agregar Imagen de Proyecto</label>
                      <input class="form-control" type="url"  placeholder="URL de imagen" formControlName="imagen">
                    </div>
                    
                    <div class="mb-3">
                      <label for="educacionEstudio" class="form-label">Agregar Url</label>
                      <input type="url" class="form-control"  formControlName="url" placeholder="Ingrese URL">
                    </div>
                    <div class="mb-3">
                      <label for="educacionEstudio" class="form-label">Agregar Proyecto <span class="text-danger">*</span></label>
                      <input type="text" class="form-control"   formControlName="proyecto" placeholder="Nombre nuevo" [ngClass]="{'is-invalid': Proyecto.errors && Proyecto.touched, 'is-valid': !Proyecto.errors && Proyecto.touched}">
                      <div *ngIf="Proyecto.errors && Proyecto.touched">    
                        <p *ngIf="Proyecto.hasError('required')" class="text-danger">
                          El nombre del proyecto es requerido.
                        </p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="educacionPeriodoInicio" class="form-label">Agregar Periodo Inicio</label>
                      <input type="date" class="form-control"  formControlName="inicio">
                    </div>
                    <div class="mb-3">
                      <label for="educacionPeriodoFin" class="form-label">Agregar Periodo Fin</label>
                      <input type="date" class="form-control"  formControlName="fin" >
                    </div>
                    <div class="mb-3">
                        <label for="educacionInfo" class="form-label">Agregar Información de Estudio Realizado <span class="text-danger">*</span></label>
                        <textarea class="form-control"  rows="3" formControlName="descripcion" [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid': !Descripcion.errors && Descripcion.touched}"></textarea >
                        <div *ngIf="Descripcion.errors && Descripcion.touched">    
                          <p *ngIf="Descripcion.hasError('required')" class="text-danger">
                            La descripcion es requerida.
                          </p>
                        </div>
                    </div>
                    <div >
                      <input type="hidden" formControlName="personaid" >
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-ligth" (click)="limpiar()">Limpiar</button>
                    <button type="submit" class="btn btnLogin" >Agregar</button>
                  </div>                
              </form>
              </div>
    </div>
  </div>