         <!-- Modal Login-->
         <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate name="loginForm"> 
                        <!-- formulario de login-->
                        <div class="mb-3">
                          <label for="nombreUsuario" class="form-label">Usuario</label>
                          <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" aria-describedby="Usuario" required [(ngModel)]="nombreUsuario">
                          <div id="emailHelp" class="form-text">Ingrese su usuario</div>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
                          <div id="passwordHelp" class="form-text">Ingrese su contraseña</div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btnLogin" data-bs-dismiss="modal">Iniciar Sesión</button>
                        </div>
                      </form>
                  </div>
              </div>
            </div>
          </div>