/*iconos de navbar */

.fa-facebook:hover{
    color: blue;
    -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
.fa-twitter:hover{
    color: lightblue;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
}
.fa-instagram:hover{
    color: violet;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
}
.fa-linkedin:hover{
    color: rgb(99, 154, 190);
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
}
.fa-github:hover{
    color: rgb(209, 164, 123);
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
}